
{% extends 'blank.html' %}
{% load static %}

{% block order %}
                    <a href="{% url 'view-client-booking' %}" class="nav-item nav-link active"><i class="fa fa-table me-2"></i>View Orders</a>
                    {% endblock %}

{% block content %}

        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                
                
                
                <div class="col-sm-12 col-xl-12">
                    <div class="bg-secondary rounded h-100 p-4">
                        <h6 class="mb-4">All Orders</h6>
                        <table class="table table-dark">
                            <thead>
                                <tr>
                                    <th scope="col">Client Name</th>
                                    <th scope="col">Matreial Name</th>
                                    <th scope="col">Booking Date</th>
                                    <th scope="col">Charges</th>
                                    <th scope="col">Dispetch</th>
                                    <th scope="col">Delivery</th>
                                    <th scope="col">Delivered</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                              {% for one in bookings %}
                                <tr>
                                     
                                    <td>
                                        <div class="d-flex flex-column justify-content-center">
                                            <h5 class="mb-0 text-sm">{{one.client.fname}} {{one.client.lname}}</h5>
                                        <p class="mb-0 text-sm">{{one.client.email}}</p>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex flex-column justify-content-center">
                                          <p class="text-xs font-weight-bold mb-0">{{one.service.shopname}}</p>
                                          <p class="mb-0 text-sm">{{one.service.mname}}</p>
                                        </div>
                                    </td>
                   
                                    <td>
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm">{{one.book_date}}</h6>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm">{{one.amount}}</h6>
                                        </div>
                                    </td>

                                {% if one.status == False %}
                                <td><a href="{% url 'order_dispetch' one.id %}"><button class="btn btn-primary"> Dispetch</button></a></td>
                                {% else %}
                                <td>{% if one.status and one.action %}Dispatched{% else %}Not Dispatched{% endif %}</td>
                                {% endif %}

                                {% if one.sta == False %}
                                <td><a href="{% url 'order_ofd' one.id %}"><button class="btn btn-primary"> Delivery</button></a></td>
                                {% else %}
                                <td>{% if one.sta and one.act %}Out For Delivery{% else %}Not Yet{% endif %}</td>
                                {% endif %}

                                {% if one.st == False %}
                                <td><a href="{% url 'order_dvd' one.id %}"><button class="btn btn-primary"> Delivered</button></a></td>
                                {% else %}
                                <td>{% if one.st and one.ac %}Delivered{% else %}Not Yet{% endif %}</td>
                                {% endif %}

                                    <td class="align-middle">
                                      <a class="cursor-pointer" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-ellipsis-v text-secondary"></i>
                                      </a>
                                    <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5" aria-labelledby="dropdownTable">
                                        <li><a class="dropdown-item border-radius-md" href="{% url 'view-client-book' one.id %}"><i class="fa fa-pen"></i> View Order Details</a></li>
                                    </ul>
                                    </td>

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <!-- Table End -->

{% endblock  %}