{% extends 'client-header.html' %}
{% load static %}

{% block quote %}
{% endblock %}

{% block clientcontent %}

<div class="container">
  <div class="row mt-lg-n10 mt-md-n11 mt-n10 justify-content-center">
    <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
      <div class="card z-index-0">
        
        <div class="card-body">
            <h1>Order Product </h1>
          <form role="form" action="" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="">Booking Date : </label>
              <input type="date" class="form-control form-control-lg" placeholder="Date" name='date'>
            </div>
            <div class="mb-3">
                <label for="">Address : </label>
              <textarea name="address" class="form-control" id="" cols="30" rows="10"></textarea>
            </div>
          
            <div class="text-center">
              <button type="submit" class="btn btn-lg btn-primary btn-lg w-100 mt-4 mb-0">Proceed to Pay</button>
            </div>
          </form>
        </div>

        
      </div>
    </div>
  </div>
</div>
{% endblock %}
