{% extends 'client-header.html' %}
{% load static %}
{% block myrofile %}
                                <a href="{% url 'client_profile' %}" class="nav-item nav-link active">My Profile</a>
                                {% endblock %}

{% block clientcontent %}
{% if msg is not None %}
        <div class="alert alert-success" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
           {{msg}}
          </div>
{% endif %}
<form action="{% url 'client_profile' %}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header pb-0">
          <div class="d-flex align-items-center">
            <p class="mb-0">Edit Profile</p>
          </div>
        </div>
        <div class="card-body">
          <p class="text-uppercase text-sm">User Information</p>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="example-text-input" class="form-control-label">First name</label>
                <input class="form-control" type="text" value="{{uid.fname}}" name="fname">
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="example-text-input" class="form-control-label">Last name</label>
                <input class="form-control" type="text" value="{{uid.lname}}" name="lname">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-5">
              <div class="form-group">
                <label for="example-text-input"  class="form-control-label">Email address</label>
                <input class="form-control" disabled type="email" value="{{uid.email}}" name="email">
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="example-text-input"  value='{{uid.mobile}}' class="form-control-label">Mobile No</label>
                <input class="form-control" type="tel" value="{{uid.mobile}}" name = "mobile">
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                    <label for="example-text-input" class="form-control-label">Country</label>
                          <select name="country" id="" class="form-control" value="{{uid.country}}">
                          <option value="{{uid.country}}">{{uid.country}}</option>
                          <option value="India">India</option> 
                          </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                    <label for="example-text-input" class="form-control-label">State</label>
                          <select name="state" id="" class="form-control" value="{{uid.state}}">
                          
                          <option value="{{uid.state}}">{{uid.state}}</option>
                          <option value="Gujarat">Gujarat</option>
                          <option value="Goa">Goa</option>
                          <option value="Delhi">Delhi</option>
                          <option value="Rajasthan">Rajasthan</option>
                        </select>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="example-text-input" class="form-control-label">District</label>
                <input class="form-control" type="text" value="{{uid.district}}" name="district">
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="example-text-input" class="form-control-label">Pincode</label>
                <input class="form-control" type="number" maxlength="10" value="{{uid.pincode}}" name="pincode">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <label for=""> Address </label>
              <textarea name="address" class="form-control" placeholder = "address" cols="30" rows="2"> {% if uid.address %} {{uid.address}} {% endif %}
              </textarea>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <label for="">Profile Image </label>
              <input type="file" name="pic" class="form-control"  style="border: 2px solid rgb(160, 50, 50);">
            </div>
          </div>
<br>
          <button class="btn btn-primary"> <i class="fa fa-edit"></i> Edit Profile</button>
        
          <hr class="horizontal dark">
          
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}