{% extends 'client-header.html' %}
{% load static %}

{% block clientcontent %}
{% comment %} 
            <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2>My Orders Detail</h2>
                        </div>
                        <div class="col-12">
                       
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page Header End -->



            <!-- About Start -->
            <div class="about">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-6">
                            <div class="about-img">
                                <img src="{{service.mimage.url}}" alt="Image">
                            </div>
                        </div>
                     
                        <div class="col-lg-7 col-md-6">
                            <div class="about-text">
                                <h2>{{service.shopname}}</h2>
                                <p>
                                    Material : {{service.mname}}
                                </p>
                                <p>
                                   Type of Material : {{service.typematerial}}
                                </p>
                                <p>
                                    About Product : {{service.proddesc}}
                                </p>
                                <p>
                                    {{service.price}}
                                </p>
                               
                                {% comment %} <a class="btn" href="{% url 'book_prod' service.id %}">Buy Now</a> {% endcomment %}
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
            <!-- About End --> {% endcomment %}

           


{% endblock %}