{% extends 'client-header.html' %}
{% load static %}

{% block quote %}
{% endblock %}

{% block clientcontent %}

<center><h1 style="color: blue;"><b>My Orders</b></h1></center><br>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Material Name</th>
                <th>Order Date</th>
                <th>Amount</th>
                <th>Order Id</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody>
            {% for one in booking %}
            <tr>
                <td>{{one.service.mname}}</td>
                <td>{{one.book_date}}</td>
                <td>{{one.amount}}</td>
                <td>{{one.pay_id}}</td>
                <td> <a href="order_detail.html"> <button class="btn btn-primary">View</button></a> </td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
<
{% endblock %}