{% extends 'header.html' %}
{% load static %}

{% block pages %}
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
            <li class="breadcrumb-item text-sm"><a class="opacity-5 text-white" href="javascript:;">Pages</a></li>
            <li class="breadcrumb-item text-sm text-white active" aria-current="page">Profile</li>
          </ol>
          <h6 class="font-weight-bolder text-white mb-0">Profile</h6>
        </nav>
        {% endblock %}

{% block content %}
<div class="card shadow-lg mx-4 card-profile-top">
  <div class="card-body p-3">
    <div class="row gx-4">
      <div class="col-auto">
        <div class="avatar avatar-xl position-relative">
          <img src="{{uid.pic.url}}" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
        </div>
      </div>
      <div class="col-auto my-auto">
        <div class="h-100">
          <h5 class="mb-1">
           {{uid.fname}} {{uid.lname}}
          </h5>
          <p class="mb-0 font-weight-bold text-sm">
            
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
        <div class="nav-wrapper position-relative end-0">
          <!-- <ul class="nav nav-pills nav-fill p-1" role="tablist">
            <li class="nav-item">
              <a class="nav-link mb-0 px-0 py-1 active d-flex align-items-center justify-content-center " data-bs-toggle="tab" href="javascript:;" role="tab" aria-selected="true">
                <i class="ni ni-app"></i>
                <span class="ms-2">App</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link mb-0 px-0 py-1 d-flex align-items-center justify-content-center " data-bs-toggle="tab" href="javascript:;" role="tab" aria-selected="false">
                <i class="ni ni-email-83"></i>
                <span class="ms-2">Messages</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link mb-0 px-0 py-1 d-flex align-items-center justify-content-center " data-bs-toggle="tab" href="javascript:;" role="tab" aria-selected="false">
                <i class="ni ni-settings-gear-65"></i>
                <span class="ms-2">Settings</span>
              </a>
            </li>
          </ul> -->
        </div>
      </div>
    </div>
  </div>
</div>
<form action="{% url 'profile' %}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header pb-0">
          <div class="d-flex align-items-center">
            <p class="mb-0">Edit Profile</p>
          </div>
        </div>
        <div class="card-body">
          <p class="text-uppercase text-sm">User Information</p>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="example-text-input" class="form-control-label">First name</label>
                <input class="form-control" type="text" value="{{uid.fname}}" name="fname">
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="example-text-input" class="form-control-label">Last name</label>
                <input class="form-control" type="text" value="{{uid.lname}}" name="lname">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-5">
              <div class="form-group">
                <label for="example-text-input"  class="form-control-label">Email address</label>
                <input class="form-control" disabled type="email" value="{{uid.email}}" name="email">
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="example-text-input" maxlength='14' value='+91-{{uid.mobile}}' class="form-control-label">Mobile No</label>
                <input class="form-control" type="tel" value="{{uid.mobile}}" name = "mobile">
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                    <label for="example-text-input" class="form-control-label">Country</label>
                          <select name="country" id="" class="form-control" value="{{uid.country}}">
                          <option value="">----</option>
                          <option value="India">India</option> 
                          </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                    <label for="example-text-input" class="form-control-label">State</label>
                          <select name="state" id="" class="form-control" value="{{uid.state}}">
                          <option value="">----</option>
                          <option value="Gujarat">Gujarat</option>
                          <option value="Goa">Goa</option>
                          <option value="Delhi">Delhi</option>
                          <option value="Rajasthan">Rajasthan</option>
                        </select>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="example-text-input" class="form-control-label">District</label>
                <input class="form-control" type="text" value="{{uid.district}}" name="district">
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="example-text-input" class="form-control-label">Pincode</label>
                <input class="form-control" type="number" maxlength="10" value="{{uid.pincode}}" name="pincode">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="example-text-input" class="form-control-label">Aadhar No </label>
                <input class="form-control" type="number" value="{{uid.aadhar}}" name="aadhar">
              </div>
            </div>

            <div class="col-6">
              <label for=""> Aadhar Proof </label>
              <input type="file" name="aadharpic" class="form-control"  style="border: 2px solid rgb(160, 50, 50);">
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <label for=""> Address </label>
              <textarea name="address" class="form-control" placeholder = "address" cols="30" rows="2"> {% if uid.address %} {{uid.address}} {% endif %}
              </textarea>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <label for="">Profile Image </label>
              <input type="file" name="pic" class="form-control"  style="border: 2px solid rgb(160, 50, 50);">
            </div>
          </div>
<br>
          <button class="btn btn-primary"> <i class="fa fa-edit"></i> Edit Profile</button>
        
          <hr class="horizontal dark">
          
        </div>
      </div>
    </div>
   
  </div>
</form>

{% endblock %}