{% extends 'header.html' %}
{% load static %}

{% block pages %}
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
            <li class="breadcrumb-item text-sm"><a class="opacity-5 text-white" href="javascript:;">Pages</a></li>
            <li class="breadcrumb-item text-sm text-white active" aria-current="page">Services</li>
          </ol>
          <h6 class="font-weight-bolder text-white mb-0">Services</h6>
        </nav>
        {% endblock %}

{% block content %}


    <div class="card shadow-lg mx-4 card-profile-top">
        <div class="card-body p-3">
          <div class="row gx-4">
            {{msg}}
          </div>
            </div>
        </div>
      </div>
      
      <form action="{% url 'service' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
      <div class="container-fluid py-4">

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header pb-0">
                <div class="d-flex align-items-center">
                  <p class="mb-0">Add Services</p>
                  
                </div>
              </div>
              <div class="card-body">
                <p class="text-uppercase text-sm">User Information</p>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="example-text-input" class="form-control-label">Shop name</label>
                      <input class="form-control" type="text"  name="shopname">
                    </div>
                  </div>
  
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="example-text-input" class="form-control-label">Material Type</label>
                      <select name="typematerial" id="" class="form-control">
                      <option value="">----</option>
                      <option value="Cement">Cement</option>
                      <option value="Plumbing">Plumbing</option>
                      <option value="Painting">Painting</option>
                      <option value="Furniture">Furniture</option>
                      <option value="TextTile">TextTile</option>
                    </select>
                    </div>
                  </div>
                  </div>
                  
                  
  
                  <div class="row">
                    <div class="col-md-3">
                    <div class="form-group">
                      <label for="example-text-input" class="form-control-label">Country</label>
                      <select name="country" id="" class="form-control">
                      <option value="">----</option>
                      <option value="India">India</option>
                    </select>
                    </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="example-text-input" class="form-control-label">State</label>
                        <select name="state" id="" class="form-control">
                        <option value="">----</option>
                        <option value="Gujarat">Gujarat</option>
                        <option value="Goa">Goa</option>
                        <option value="Delhi">Delhi</option>
                        <option value="Rajsthan">Rajsthan</option>
                    </select>
                    </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="example-text-input" class="form-control-label">District</label>
                        <input class="form-control" type="text"  name="district">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="example-text-input" class="form-control-label">Pincode</label>
                        <input class="form-control" type="number"  name="pincode">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="example-text-input" class="form-control-label">Material Name</label>
                        <input class="form-control" type="text"  name="mname">
                      </div>
                    </div>
                    <div class="col-6">
                      <label for=""> Material Image </label>
                      <input type="file" name="mimage" class="form-control"  style="border: 2px solid rgb(160, 50, 50);">
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="example-text-input" class="form-control-label">Price</label>
                        <input class="form-control" type="number"  name="price">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="example-text-input" class="form-control-label">weights</label>
                        <input class="form-control" type="number"  name="weights">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="example-text-input" class="form-control-label">No of material count</label>
                        <input class="form-control" type="number"  name="nomc">
                      </div>
                    </div>
                  </div>


                  <div class="row">
                    <div class="col-md-12">
                      <label for="">About Product</label>
                      <textarea name="proddesc" class="form-control" placeholder = "address" cols="30" rows="2"> {% if uid.address %} {{uid.address}} {% endif %}
                      </textarea>
                    </div>
                  </div>
                </div>

  <br>
               <center> <button class="btn btn-primary col-lg-4 text-center"> <i class="fa fa-pen"></i> Add Service</button></center>
              
                <hr class="horizontal dark">
                
              </div>
            </div>
          </div>
         
        </div>

{% endblock %}